<ul class="navbar-nav" [ngSwitch]="usuarioLogado()">
  <li class="nav-item" *ngSwitchCase="false">
    <a class="btn btn-primary me-2" [routerLink]="['/conta/login']">Entrar</a>
  </li>
  <li class="nav-item" *ngSwitchCase="false">
    <a class="btn btn-success" [routerLink]="['/conta/cadastro']">Crie sua conta</a>
  </li>

  <li class="nav-item" *ngSwitchCase="true">
    <a class="nav-link text-dark" id="saudacaoUsuario" href="javascript:void(0)">{{ email }}</a>
  </li>
  <li class="nav-item" *ngSwitchCase="true">
    <a class="nav-link text-dark" href="javascript:void(0)" (click)="logout()"> Sair <span class="fa fa-sign-out-alt"></span> </a>
  </li>
</ul>
